<a href="https://colab.research.google.com/github/muzhiyaojing/PythonDataAnalysisCourse/blob/master/Chapter5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [0]:
obj1 = pd.Series([4,7,-5,3])
obj1

0    4
1    7
2   -5
3    3
dtype: int64

In [0]:
obj2 = pd.Series([4,7,-5,3],index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [0]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [0]:
obj2['a']
obj2[['a','b','c']]
obj2[obj2>3]
obj2*2
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [10]:
sdata = {'Ohio':35000, 'Texas':71000,'Oregon':16000,'Utah':5000}
sdataSeries = pd.Series(sdata)
state = ['Test','California','Ohio','Oregon','Texas']
# sdataSeries.index = state
obj3 = pd.Series(sdata,index=state)
obj3.name ='population'
obj3.index.name ='state'
obj3

state
Test              NaN
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [24]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002,2003],
        'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data,columns=['year','pop','state'])
frame = pd.DataFrame(data,columns=['year','pop','debt']
                     ,index = ['one','two','three','four','five','six'])
#frame['pop']
frame.debt

one      NaN
two      NaN
three    NaN
four     NaN
five     NaN
six      NaN
Name: debt, dtype: object